.landing-section {
    min-height: 80vh;
    width: 65%;
    margin:auto;
    overflow: hidden;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    

    &__left {
        position: relative;
        flex-basis: 50%;
        flex-grow: 2;
 
        &__girl {
            position: absolute;
            width: 74%;
            right: 12rem;
            top: -28.5rem;
            z-index: 1;
        } 

        &__homburger {
            position: absolute;
            // background: transparent;
            transform: rotate(90deg);
            z-index: 3;
            top: -28rem;
            left: 17rem;
            width: 11%;
        }

        &__points {
            position: absolute;
            width: 13%;
            top: -34rem;
            left: 0;
            z-index: 4;
        }

        &__rectangle {
            background-color: #ff8ff5;
            position: absolute;
            z-index: 0;
            width: 32%;
            height: 23rem;
            top: -34rem;
            left: 31rem;
        }
    }

    &__right {
        flex-grow: 1;
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        margin: 0rem 2rem 14rem 2rem;
        z-index: 99;

        &__form {
            width: 40rem;
            margin: 3rem 0;
        }

        form {

            h2 {
                font-size: 2.2rem;
                width: 100%;
                margin: 0rem 0;
                color: rgb(20, 28, 58);
                font-weight: 700;
                text-align:left;
                }

            input {
                display: block;
                width: 90%;
                padding: 1.5rem 0;
                margin: 1rem 0;
                }

            label {
                font-size: 1.4rem;
                font-weight: bold;
                }
            
            button {
                width: 90%;
                padding: 1.5rem;
                margin-bottom: 1rem;
                height: auto;
                background: rgb(100, 0, 228);
                border: none;
                color: white;
                font-size: 1.8rem;
                font-weight: 700;
                }
            }
       
        p {
            font-size: 1.4rem;
            text-align: left;
            line-height: 1.8;
            width: 40rem;
            margin-bottom: 3rem;

            a {
                font-weight: 700;
                color: rgb(100, 0, 228);
            }
        }

        h2 {
            text-align: left;
            width: 40rem;
            color: #141c3a;
            margin-bottom: 1rem;
        }

        &__list {
            list-style: none;
            width: 38rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__item {
            border: 2px solid #f6f5fa;
            padding: 1rem 3.2rem;
            margin-bottom: .5rem;
            
            display: flex;
            justify-content: center;
            align-items: center;
            transition: box-shadow .3s;
            
            &:hover {
                    box-shadow: 0 3px 4px rgba(0, 0, 0, .3);
                    border: 2.5px solid #dddce0;
            }
        }
    }
}

