.section-2 {
    min-height: 100vh;
    background-image: url(../images/sec2-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #141c3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;

    &__title {
        min-height: 40vh;
        // background: chartreuse;
        width: 65%;
        margin: 12rem auto 0;
        color: white;
      
        &--part {
            width: 50%;
            margin: auto;
            text-align: center;
            font-size: 3.6rem;
            line-height: 1.1;
            margin-bottom: 3rem;
        }

        &__green {
                color: #6aebc0;
            }
        &__yellow {
                color: #ffd500;
        }
    }

    &__list {
        min-height: 40vh;
        color: white;
        width: 65%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,minmax(30rem, 30%));
        grid-gap: 0rem 8rem;
        list-style: none;

    }

    &__item {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;

        &__titlediv {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 12rem;
            border-bottom: 3px solid white;
        }

        &__title {
            font-size: 3.5rem;
            text-align: center;
            // padding-bottom: 2rem;
           
            
        }

        &__paragraph {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 2;
        }
    }


    &__list2 {
        width: 60%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        margin: 1.5rem 0rem 2rem 2rem;
        font-size: 1.5rem;   
        font-weight: 700;

        &--yellow, 
        &--green, 
        &--purple {
            padding-right: 3rem;
        }

        &--yellow::marker {
            color: #ffd500;
            font-size: 2rem;
            }

        &--green::marker {
            color: #6aebc0;
            font-size: 2rem;
            }

        &--purple::marker {
            color: #6400e4;
            font-size: 2rem;
            }
        }

        &__3pointsImg {
            position: absolute;
            top: 4rem;
            left: 32rem;
        }
    }

    .homburger-section2 {
        position: absolute;
        top: 295rem;
        right:26rem;
        width: 5%;
        z-index: 4;
    }





    

