
@import "general-setting";
@import "heading"; 
@import "landing-section";
@import "section-1";
@import "section-2";
@import "footer"; 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #f1f3fe;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width:1024px) and (min-width: 768px) {
    html {
        font-size: 58%;
    }

    .header {
        min-height: 115vh;
        &__paragraph {
            width: 37rem;
            font-size: 3.2rem;
            top: 44rem;
            left: 3.5rem;
        }

        &__triangle {
            top: 37.5rem;
            left: 7.5rem;
        }

        &__base {
            left: -103rem;
            top: 50rem;
        }
    }

    .header__nav {
        min-width: 85%;
    }
    
    .landing-section {
        min-width: 85%;

        &__left {
            &__girl {
                width: 68%;
                right: 15.5rem;
                top:-24.5rem;
            }

            &__rectangle {
                width: 20rem;
                height: 20rem;
                top: -31rem;
                left: 25rem;
            }

            &__points {
                width: 22%;
                top: -30rem;
            }

            &__homburger {
                width: 14%;
                top: -23rem;
                left: 1rem;
            }
        }
        
        &__right {
            margin: 0rem 0rem 2rem 2rem;
        }
    }

    .section-1 {
        &__above {
            width: 85%;
        }

        &__shadow{
            display: none;
        }

        &__paragraph {
            padding: 5rem;
        }

        &__image {
            // background-color: black;
            img {
                width: 230%;
            }
        }
    }

    .container {
        width: 100%;

        .heading {
            width: 90%;
        }
        
        &__item {
            &__circle {
                height: 9rem;
                width: 10%;
            }
        }
    }

    .section-2 {
        min-height: 110vh;
        
        &__title {
            width: 100%;

            &--part {
                width: 70%;
                font-size: 4.5rem;
            }
        }

        &__list {
            width: 90%;
            grid-template-columns: repeat(3,minmax(20rem, 30%));
        }

        &__3pointsImg {
            width: 12%;
            left: 4rem;
        }
    }

    .homburger-section2 {
        top: 312rem;
        right: 5rem;
        width: 10%;
    }

    .footer {
    width: 90%;
    }
}
