
@import "general-setting";
@import "heading"; 
@import "landing-section";
@import "section-1";
@import "section-2";
@import "footer"; 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #f1f3fe;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width:1024px) and (min-width: 768px) {
    html {
        font-size: 58%;
    }

    .header {
        min-height: 115vh;
        &__paragraph {
            width: 37rem;
            font-size: 3.2rem;
            top: 44rem;
            left: 3.5rem;
        }

        &__triangle {
            top: 37.5rem;
            left: 7.5rem;
        }

        &__base {
            left: -103rem;
            top: 50rem;
        }
    }

    .header__nav {
        min-width: 85%;
    }
    
    .landing-section {
        min-width: 85%;

        &__left {
            &__girl {
                width: 68%;
                right: 15.5rem;
                top:-24.5rem;
            }

            &__rectangle {
                width: 20rem;
                height: 20rem;
                top: -31rem;
                left: 25rem;
                z-index: -1;
            }

            &__points {
                width: 22%;
                top: -30rem;
            }

            &__homburger {
                width: 14%;
                top: -23rem;
                left: 1rem;
            }
        }
        
        &__right {
            margin: 0rem 0rem 2rem 2rem;
        }
    }

    .section-1 {
        &__above {
            width: 85%;
        }

        &__shadow{
            display: none;
        }

        &__paragraph {
            padding: 5rem;
        }

        &__image {
            // background-color: black;
            img {
                width: 230%;
            }
        }
    }

    .container {
        width: 100%;

        .heading {
            width: 90%;
        }
        
        &__item {
            &__circle {
                height: 9rem;
                width: 10%;
            }
        }
    }

    .section-2 {
        min-height: 110vh;
        
        &__title {
            width: 100%;

            &--part {
                width: 70%;
                font-size: 4.5rem;
            }
        }

        &__list {
            width: 90%;
           
        }

        &__3pointsImg {
            width: 12%;
            left: 4rem;
        }
    }

    .homburger-section2 {
        top: 312rem;
        right: 5rem;
        width: 10%;
    }

    .footer {
    width: 90%;
    }
}

@media (max-width: 767px ) {
    
    
    html {
       font-size: 38%; 
    }

    .header {
        background-color: #ffffff;
        &__triangle, 
        &__base {
            display: none;
        }

        .header__nav {
            margin-top: 2rem;
            z-index: 0;
        }

        .header__nav__li {
            display: none;
        }

        &__paragraph {
            width: 100%;
            position: relative;
            left: 0;
            top: 2rem;
            background: transparent;
            color: black;
            text-align: center;
            font-size: 3.5rem;
            z-index: 0;
        }
    }

    .landing-section {
        width: 100%;

        &__left {
            display: none;
            }

        &__right {
                width: 100%;
                // margin-top: 4rem;

                &__form {
                    width: 100%;
                    margin: 6rem 0;

                }

                form {
                    width: 100%;
                    h2 {
                        display: none;
                    }
                    input {
                        width: 100%;
                        padding: 3rem 0;
                    }
                    button {
                        width: 100%;
                        padding: 3.5rem;
                    }
                }

                p {
                    font-size: 2rem;
                    width: 100%;
                    font-size: 2.2rem;
                    line-height: normal;
                    margin: 1rem;
                    br {
                        display: none;
                    }
                }

                h2 {
                    font-size: 2.8rem;
                    padding-bottom: 1rem;
                }
                &__list {
                    width: 100%;
                }
            }
        }

.section-1 {
    &__above {
        width: 100%;
    }

     &__shadow,
     &__image {
        display: none;
    }

    &__paragraph {
        height: 100vh;
        justify-content:space-evenly;
        h1 {
            font-size: 6rem;
            width: 80%;
        }

        p {
            font-size: 3.5rem;
        }

        button {
            padding: 4rem 10rem;
            font-size: 3rem;
        }
    }
}


.container {
    width: 100%;

.heading {
    width: 90%;
}

&__list {
    width: 100%;
}

&__item {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 60vh;

    &::after {
        display: none;
    }

    &__circle {
        height: 16rem;
        width: 30%;

       &__counter {
            font-size: 5rem;
            }
        }

        &__image {
            width: 100%;
            order: 3;
        }

        &__content {
            width: 95%;
            align-items: center;
            margin: 4rem 0;
            &__subHeading {
                font-size: 4rem;
                padding: 0rem 2rem;
            }
            &__description {
                font-size: 2.4rem;
            }
        }
    }
}

.section-2 {
    &__title {
        width: 100%;

        &--part {
            width: 70%;
            line-height: 1.5;
            margin-bottom: 4rem;
        }
    }

    &__list {
        grid-gap: 4rem;
    }

    &__item {
        width: 100%;

        &__title {
            font-size: 4rem;
        }

        &__paragraph {
            font-size: 2.4rem;
        }
    }
    &__list2 {
        font-size: 1.8rem;
    }
}

.homburger-section2 {
    top: 4rem;
    right: 4rem;
    transform: rotate(90deg);
}
.footer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
}