/*general settings*/
$blue: #0d5eaf;
$white: #ffffff;

@import "stylesheets/header";
@import "stylesheets/second-page";
@import "stylesheets/third-page";
@import "stylesheets/forth-page"; 
@import "stylesheets/fifth-page";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

@mixin backgr-title {
    display: flex;
    flex-direction: column;
    background-color: #0D5EAF;
}

/*Add fonts to the header locally*/
@font-face {
    font-family: "header";
    src: url(./Fonts/GreatVibes-Regular.ttf);
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Media Query "For Tablets"*/
@media (max-width:1024px) and (min-width: 600px) {
    html {
       font-size: 40%;
    }

    /*The cover page*/
    header {
        h1 {
            width: 100%;
            text-align: left;
            padding: 0rem 4rem;
        }
    }

/*The floats grids*/
    .grid-floats {
        .grid-item {
            width: 31%;
            &:last-child {
                width: 31%;
                &::after {
                    display: none;
                }
            }
            &:nth-of-type(2) {
                width: 47%;
                overflow: hidden;
                &:after {
                    content: "New";
                    transition: all 1s ease;
                    text-align: center;
                    font-weight: bold;
                    color: #0D5EAF;
                    font-size: 2rem;
                    position: absolute;
                    right: -10rem;
                    top: 3rem;
                    height: 3rem;
                    width: 30rem;
                    background-color: #ffffff;
                    transform: rotate(45deg);
                }   
            }
        }
    }

    /*The flex grids*/ 
    .grid-flex .grid-item {
        flex: 1 1 35rem;
        &:nth-of-type(-n+2) {
            flex: 1 1 60rem;
            overflow: hidden;
            &::after {
                content: "New";
                text-align: center;
                font-weight: bold;
                color: #0D5EAF;
                font-size: 2rem;
                position: absolute;
                right: -10rem;
                top: 3rem;
                height: 3rem;
                width: 30rem;
                background-color: #ffffff;
                transform: rotate(45deg);
                transition: all 1s ease;
            }
        }
    }
}

/*Media Query "For mobiles"*/
@media (max-width: 600px) {
    html {
        font-size: 30%;
    }

    header {
        h1 {
            // width: 100%;
            // text-align: left;
            padding: 0rem 2rem;
        }
    }

    section:nth-of-type(1) {
        h2 {
            -webkit-text-fill-color:#ffffff;
        }
    }

    /*The float grids*/ 
    .grid-floats .grid-item {
        width: 100%;
        margin: 2rem 0;
        img {
            width: 30%;
        }

        h3 {
            font-size: 3rem;
        }
        
        p {
            font-size: 2rem;
            padding: 2rem;
            line-height: 2.5rem;
        }

        &:nth-of-type(even) {
            img {
                width: 30%;
            }

            p {
                font-size: 2rem;
                padding: 2rem;
            }
        }
        
        &:first-child, &:last-child {
            width: 100%;
            &::after {
                display: none;
            }
        }
    }


    /*The flex grids*/
    .grid-flex .grid-item {
        flex: 1 1 100%;
        img{
            width: 25%;
        }
        img {
            width: 30%;
        }

        h3 {
            font-size: 3rem;
        }
        p {
            font-size: 2rem;
            padding: 2rem;
            line-height: 2.5rem;
        }
    }

    .grid-flex .grid-item:nth-of-type(1) {
        flex: 1 1 100%;
        &::after {
            display: none;
        }
    }
}
