
.aside-right {
    flex: 1;
}
.section-headin {
    margin: 1rem 0;
    
    h1, h6 {
        text-align: center;
        color: #b55555;
    }

    h6 {
        margin-bottom: 2rem;
    }
}


.time-line {
    ul {
        border-left: 4px solid #111;
        border-radius: 0.8rem;
        background-color: rgba(0,0,0,0.05);
        margin: 0 auto;
        position: relative;
        padding: 5rem;
        list-style: none;
        text-align: left;
        width: 50%;

        h1 {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 1rem;
            opacity: .3;
            color: #000;
        }

        p {
            color: #000; ;
        }

        .date {
            border-bottom: 1px solid rgba(225, 225, 225, 1);
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            position: relative;

            &:last-of-type {
                padding: 0;
                margin-bottom: 0;
                border: none;
            }

            &::before, &::after {
                position: absolute;
                display: block;
                top: 50%;
                transform: translateY(-50%);
            }

            &::before {
                content: attr(data-date);
                right: 24rem;
                text-align: right;
                min-width: 12rem;
                font-size: 1rem;
            }

            &::after {
                content: "";
                box-shadow: 0 0 0 4px #111;
                border-radius: 100%;
                left: -5.70rem;
                height: 1.2rem;
                width: 1.2rem;
                background-color: #b55555;

            }
        }   
    }   
}   