header {
    min-height: 10vh;
    flex-wrap: wrap;
    @include border;
    @include dimensions(90%, auto);
    @include flex (center, row);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#dad8dd, #dad1d4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
    .header {  
        flex: 0 1 40%;
        
        h1 {
            text-align: center;
            font-size: 2.5rem;
            letter-spacing: .3rem;
            
            
            span {
                color: #b55555;
                letter-spacing: normal;
               font-size: 1.5rem;
               text-shadow: 0px 4px 20px black;
                }
            }
        }

    .slide {
        flex: 0 1 40%;
        min-height: 10vh;
        @include flex (center, row);
        width: 50vw;

        .marquee {
            background-color: #111;
            color: white;
            width: 50vw;
            height: 10vh;
            overflow: hidden;
            position: relative;
          
            &::before {
            position: absolute;
            top: 0;
            width: 10rem;
            height: 100%;
            content: "";
            z-index: 1; 
            left: 0;
            background: linear-gradient(to right, #111 0%, transparent 100%);
            }

            &::after {
             position: absolute;
            top: 0;
            width: 10rem;
            height: 100%;
            content: "";
            z-index: 3; 
            right: 0;
            background: linear-gradient(to left, #111 0%, transparent 100%);
            }

                .marquee-content {
                    @include flex(center, row);
                    list-style: none;
                    height: 100%;
                    animation: scrolling 25s linear infinite;
                    
                    @keyframes scrolling {
                        0% {transform: translateX(25vw)
                    } 100% {transform: translateX(-175vw)} }

                    & li {
                        @include flex(center,row);
                        width: 12.5vw;
                        flex-shrink: 0;
                        height: 100%;
                        font-size: 5rem;
                        white-space: nowrap;

                            .fab {
                                font-size: 3.5rem;
                               
                            }
                        }
                    
                    &:hover{
                        animation-play-state: paused;
                        cursor: pointer;
                        }
                    }
                }
            } 
        }
    